<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
         <title>Django Girls blog</title>
         <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
        <body>
            <div class="page-header">
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>

         <form class="form-input" action="https://groups.google.com/group/django-users/boxsubscribe">
             <input type="email" name="email" placeholder="Enter email">
              <button type="submit">
                  <i class="icon icon-envelope-o"></i>
                  <span class="visuallyhidden">Subscribe</span>
              </button>
          </form>

        </body>
</html>

