{% extends 'blog/base.html' %}

{% block content %}

    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

<br>
<br>
<br>
<br>

    {% for id in post_id %}
        <div class="post">
            <div class="date">
                {{ id.published_date }}
            </div>
            <h1><a href="">{{ id.title }}</a></h1>
            <p>{{ id.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock content %}